html{
  background:linear-gradient(170deg,#085078,#85d8ce);
  /*background:linear-gradient(to bottom,#88ddf8,#ffd194);*/
  text-align: center;
  background-size: cover;
  border: none;
  min-height: 105%;

}

h1
{
font-family: 'Slabo 27px', serif;
font-size: 40px;
float: none;


}
h2, h3{
font-family: 'Roboto Condensed', sans-serif;
font-size: 28px;

}
p{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 26px;
}
#formula, .button{
  font-family: 'Slabo 27px', serif;
  font-size: 27px;
}

.values {
font-family: 'Oswald', sans-serif;
font-size:16px;
}
option{
  width:4%;
  height:9%;
}
a{
  text-decoration: none;
  color:#d9c6d7;
}
#webs:hover{
  text-shadow: #552b51-.5px 15px 10px;
}
#webs{
  color:#6c4868;
}
#comment, #output,.imagesource{
  font-size: 24px;
  color:black;
}
a img { display:none; }
a:hover img {
  position:fixed;
  display:block;
  height:48%;
  width:32%;
  top:35%;
  right:1.5%;

}
.extra {
    display: none;
}

h1:hover .extra {
    display:block;
    font-size: 20px;
}
#left{
margin-left: 4%;
margin-right: 4%;
margin-top: 1%;
margin-bottom: .3%;
padding-left: 7%;
padding-right: 7%;
width:20%;

}
hr{
  border: 0;
height: 2px;
background-image: -webkit-linear-gradient(left,#8ca6db,#b993d6,#8ca6db);
background-image: -moz-linear-gradient(left,#8ca6db,#b993d6,#8ca6db);
background-image: -ms-linear-gradient(left,#8ca6db,#b993d6,#8ca6db);
background-image: -o-linear-gradient(left,#8ca6db,#b993d6,#8ca6db);
}
.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	border-radius: 10px;
  font-family: 'Crushed', cursive;
	font-size: 16px;
  height:35px;
  width:100px;
  margin-left: 1%;
  margin-right: 1%;
	text-decoration: none;
  text-align: center;
  color:#191654;
  font-size: 17px;
  text-align: center;
  display: inline-block;
}

.blue
{
	background-color:#bdfbff;
	border-bottom: 3px solid #191654;
	text-shadow: 0px 1px #bdfff3;
}
