html{
  background:linear-gradient(to bottom,#4ca2cd,#eaecc6);
  background:linear-gradient(to bottom,#88ddf8,#ffd194);
  text-align: center;
  background-size: cover;
  border: none;
  min-height: 115%;

}

h1
{
font-family: 'Slabo 27px', serif;
font-size: 36px;
float: none;


}
h2, h3{
font-family: 'Roboto Condensed', sans-serif;
font-size: 24px;

}
p{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 22px;
}
#formula, .button{
  font-family: 'Slabo 27px', serif;
  font-size: 27px;
}
.button{
 height:40%;
 width:10%;
 text-align: center;
 display: inline-block;
}
.values {
font-family: 'Oswald', sans-serif;
font-size:16px;
}
option{
  width:4%;
  height:9%;
}
a{
  text-decoration: none;
  color:#884581;
}
#webs:hover{
  text-shadow: #552b51-.5px 15px 10px;
}
#comment, #output,.imagesource{
  font-size: 24px;
  color:black;
}
a img { display:none; }
a:hover img {
  position:fixed;
  display:block;
  height:48%;
  width:32%;
  top:35%;
  right:1.5%;

}
.extra {
    display: none;
}

h1:hover .extra {
    display:block;
    font-size: 20px;
}
#left{
margin-left: 4%;
margin-right: 4%;
margin-top: 1%;
margin-bottom: .3%;
padding-left: 4.5%;
padding-right: 4.5%;
width:20%;

}
hr{
  border: 0;
height: 2px;
background-image: -webkit-linear-gradient(left,#ffe5d8,#2bc0e4 ,#ffe5d8);
background-image: -moz-linear-gradient(left, #56b4d3,#159957, #56b4d3, #155799,#56b4d3, #159957,#56b4d3);
background-image: -ms-linear-gradient(left, #56b4d3,#159957, #56b4d3, #155799,#56b4d3, #159957,#56b4d3);
background-image: -o-linear-gradient(left, #56b4d3,#159957, #56b4d3, #155799,#56b4d3, #159957,#56b4d3);
}
.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	border-radius: 10px;
  font-family: 'Crushed', cursive;
	font-size: 16px;
  height:35px;
  width:100px;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
	text-decoration: none;
  text-align: center;
  color:black;
}
.blue
{
	background-color:#93f9b9;
	border-bottom: 3px solid #1d976c;
	text-shadow: 0px 1px #1d976c;
}
