#title,#name{
  height:5%;
  width:20%;
}
html{
  background: linear-gradient(to bottom, #ff7e5f,#feb47b);
}
h1{
  text-align: center;
  font-family: 'Crushed', cursive;
  color:white;
  font-size: 60px;
  margin-bottom:0%;
}
h2{
  font-family: 'Fjalla One', sans-serif;
  font-size: 27px;
}
li,p{
font-family: 'Yanone Kaffeesatz', sans-serif;
font-size: 100%;
}
label{
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 22px;
}
/*.button{
  font-family: 'Fjalla One', sans-serif;
  font-size: 15px;
  width:20%;
}*/
.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{

	border-radius: 10px;
  font-family: 'Crushed', cursive;
	font-size: 16px;
  /*height:4%;
  width:10%;*/
  height:35px;
  width:100px;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
	text-decoration: none;
  text-align: center;
}

.blue
{
	background-color: coral;
	border-bottom: 3px solid #f45c43;
	text-shadow: 0px -1px #f45c43;
}
::-webkit-file-upload-button {
  background-color: coral;
	border-bottom: 3px solid #f45c43;
	text-shadow: 0px -1px #f45c43;
  border-radius: 10px;
  font-family: 'Crushed', cursive;
  font-size: 16px;
  height:35px;
  margin-left: 1%;
  margin-right: 1%;
  text-decoration: none;
  text-align: center;
}

.font{
  font-family: 'Crushed', cursive;
  font-size: 20px;
}

aside{
  text-align: left;
}
hr{
  border: 0;
height: 1.5px;
background-image: -webkit-linear-gradient(left, #ff9966, #ff5e62, #ff9966);
background-image: -moz-linear-gradient(left, #ff9966, #ff5e62, #ff9966);
background-image: -ms-linear-gradient(left, #ff9966, #ff5e62, #ff9966);
background-image: -o-linear-gradient(left, #ff9966, #ff5e62, #ff9966);
}
a{
  color:white;
}
select option[value="1"] { /* value not val */
    background:blue;
}

select option[value="2"] { /* value not val */
    background: orange;
}
li{
  background-color: coral;
  float:left;
  float: inline-block;
  padding: 2%;
  height:200px;
  width:200px;
  position: relative;
  margin:2%;
}

body{
  background-color: rgba(255, 250, 250, 0.15);
  border-radius: 5px;
  text-align: center;
  margin: 1%;
  padding: 1%;
}
nav{
  text-align: center;
}
img{
  height:10%;
  width:10%;
  position: relative;
  float:right;
  -webkit-transition: -webkit-transform .35s ease-in-out;
          transition:         transform .35s ease-in-out;
  cursor:alias;
}
.chosen{
  float:none;
  text-align: center;
  height:50%;
  width:100%;
  -moz-transition: none;
   -webkit-transition: none;
   -o-transition: color 0 ease-in;
   transition: none;
}
#source,a{
  font-size:25%;
  color:black;
  margin-bottom: 1%;
}
img:hover{
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
#right{
  font-size: 20px;
  font-family: 'Ubuntu Condensed', sans-serif;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 1%;
  margin-bottom: .3%;
  padding-left: 4.5%;
  padding-right: 4.5%;
  width:20%;
}
#right:hover{
  color:#931000;
}
.textbox{
  width:300px;
  height:9px;
}
