ul,li{
  list-style-type:circle;
}
#title,#name{
  height:5%;
  width:20%;
}
html{
  background: linear-gradient(to bottom, #ff7e5f,#feb47b);
}
h1{
  text-align: center;
  font-family: 'Crushed', cursive;
  color:white;
  font-size: 60px;
}
h2{
  font-family: 'Fjalla One', sans-serif;
  font-size: 27px;
}
li,p{
font-family: 'Yanone Kaffeesatz', sans-serif;
font-size: 100%;
}
label{
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 22px;
}
.button{
  font-family: 'Fjalla One', sans-serif;
  font-size: 15px;
}
#imgInp{
width:6%;
}
aside{
  text-align: left;
}
hr{
  border: 0;
height: 1px;
background-image: -webkit-linear-gradient(left, #ff9966, #ff5e62, #ff9966);
background-image: -moz-linear-gradient(left, #ff9966, #ff5e62, #ff9966);
background-image: -ms-linear-gradient(left, #ff9966, #ff5e62, #ff9966);
background-image: -o-linear-gradient(left, #ff9966, #ff5e62, #ff9966);
}
.textbox{
  width:60%;
}
a{
  color:white;
}
select option[value="1"] { /* value not val */
    background:coral;
}

select option[value="2"] { /* value not val */
    background: orange;
}
li{
  background-color: coral;
  float:left;
  float: inline-block;
  padding: 2%;
  height:200px;
  width:200px;
  /*height: 30%;
  width:14%;*/
  position: relative;
  margin:2%;
}

body{
  background-color: rgba(255, 250, 250, 0.15);
  border-radius: 5px;
  text-align: center;
  /*min-height: 100%;*/
  margin: 1%;
  padding: 1%;

}
nav{
  text-align: center;
}
img{
  height:10%;
  width:10%;
  position: relative;
  float:right;
  -webkit-transition: -webkit-transform .35s ease-in-out;
          transition:         transform .35s ease-in-out;
  cursor:alias;
}
.chosen{
  float:none;
  text-align: center;
  height:50%;
  width:100%;
  -moz-transition: none;
   -webkit-transition: none;
   -o-transition: color 0 ease-in;
   transition: none;
}
#source,a{
  font-size:15%;
  color:black;

  margin-bottom: 1%;
}
img:hover{
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
#right{
  font-size: 100px;
  font-family: 'Ubuntu Condensed', sans-serif;
  position:relative;
  margin-right:3%;
  margin-left: 3%;
  margin-top: 0%;
  top:0%;
  float: left;
  width: 27%;
  margin:3%;
}
