ul,li{
  list-style-type:circle;
}
#title,#name{
  height:5%;
  width:20%;
}
html{
  background: linear-gradient(to bottom, #ff7e5f,#feb47b);
}
h1{
  text-align: center;
  font-family: 'Crushed', cursive;
  color:white;
  font-size: 60px;
}
h2{
  font-family: 'Fjalla One', sans-serif;
  font-size: 27px;
}
li,p{
font-family: 'Yanone Kaffeesatz', sans-serif;
font-size: 22px;
}
label{
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 22px;
}
.button{
  font-family: 'Fjalla One', sans-serif;
  font-size: 25px;
}
body{
  background-color: rgba(255, 250, 250, 0.15);
  border-radius: 5px;
  text-align: center;

}
aside{
  text-align: left;
}
hr{
  border: 0;
height: 1px;
background-image: -webkit-linear-gradient(left, #ff9966, #ff5e62, #ff9966);
background-image: -moz-linear-gradient(left, #ff9966, #ff5e62, #ff9966);
background-image: -ms-linear-gradient(left, #ff9966, #ff5e62, #ff9966);
background-image: -o-linear-gradient(left, #ff9966, #ff5e62, #ff9966);
}
.textbox{
  width:60%;
}
a{
  color:white;
}
select option[value="1"] { /* value not val */
    background:coral;
}

select option[value="2"] { /* value not val */
    background: orange;
}
li{
  background-color: coral;
  float:left;
  float: inline-block;
  padding: 2%;
  height: 15%;
  width:14%;
  position: relative;
  margin:2%;

}
