html{
  background: linear-gradient(to right bottom,#00bf8f,#000000);
  min-height:120%;
}

.row-1{
  width: 100%;
}
.row-2{
  width: 100%;
}
.row-3{
  width: 100%;
}
.col:nth-child(1){
  border-bottom: 5px solid #c5c5c5;
  border-right: 5px solid #c5c5c5;
  width:32%;
  height:30%;
  float: left;
}
.col:nth-child(2){
  border-bottom: 5px solid #c5c5c5;
  border-right: 5px solid #c5c5c5;
  border-left: 5px solid #c5c5c5;
  width:32%;
  height:30%;
  float: left;
}
.col:nth-child(3){
  border-bottom: 5px solid #c5c5c5;
  border-left: 5px solid #c5c5c5;
  width:32%;
  height:30%;
  float: left;
}
.row:nth-child(3)  .col {
  border-bottom: none;
  margin-bottom: 3%;
}

aside{
  text-align: center;
  bottom:50%;
}
input{
  margin-right: 1%;
}
h1{
  text-align: center;
  font-family: 'Crushed', cursive;
  color:white;
  font-size: 60px;
  margin-bottom:2%;
  margin-top: 0%;
}
#right{
  font-size: 20px;
  font-family: 'Ubuntu Condensed', sans-serif;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 1%;
  margin-bottom: .3%;
  padding-left: 4.5%;
  padding-right: 4.5%;
  width:20%;
  color:black;
}
nav{
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  text-align: center;
  margin: 1%;
  padding-bottom: .5%;
  padding-top: .5%;
}

button{
  margin-bottom: 2%;
}

.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	border-radius: 10px;
  font-family: 'Crushed', cursive;
	font-size: 16px;
  height:35px;
  width:100px;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
	text-decoration: none;
  text-align: center;
  color:black;
}
.blue
{
	background-color:#93f9b9;
	border-bottom: 3px solid #1d976c;
	text-shadow: 0px 1px #1d976c;
}
label,p,.message{
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 27px;
  position: relative;
}
p{
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 20px;
  position: relative;
  margin-top: 0%;
}
div{
  text-align: center;
  font-family: 'Crushed', cursive;
  color:white;
  font-size: 100px;

}
