html{
  background:linear-gradient(to bottom,#000046,#1cb5e0);
  text-align: center;
  background-size: cover;
  border: none;

}
body{
  background-repeat: no-repeat;
}
h1{
  font-family: 'Crushed', cursive;
  text-align: center;
  font-size: 60px;
  color: white;
  margin-top: 2.5%;

}
.subtitle{
  font-size: 30px;
}
h2,.h4{
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  font-size:38px;
  color:white;
}
.h4{
  font-size: 30px;
  color:#5500a9;
}
p{
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  font-size: 26px;
  color:white;
}
td{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 20px;
  text-align: center;
  color:black;
}
th,.caption{
font-family: 'Ubuntu Condensed', sans-serif;
text-align: center;
font-size: 26px;
}
.caption{
  font-size: 14px;
  color:black;
}
table{
  position: relative;
  width:30%;
  height:45%;
  border: 2px solid #8bdaf1;
  border-radius: 8px;
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 3%;
  display: inline-grid;
  background-color: white;
  box-shadow: 3px 3px 3px #b1eaff;
  -webkit-transition: all .5s; /* For Safari 3.1 to 6.0 */
  transition: all .5s;
  float:left;
  cursor:pointer;
}
.app3{
margin-left: 3.5%;
}
.app2{
  margin-right: 2.15%;
}
.app{
  margin-left: 1.5%;
}
#col-3-row-2{
  float:left;
  margin-left: 3.25%;
  margin-right: 0%;
}
.linktitle{
  color:#5500a9;
}
table:hover{
  background-color:rgb(220,241,250);
  color:#4141ff;
  width:31%;
  box-shadow: 5px 5px 4px #3c0077;
}
#ref{
  font-size: 23px;
  color:black;
}
#reflection{
width:96%;
height:20%;
}
#reflection:hover{
  width:97%;
}
/*
#btp{
  text-align: right;
  color:#3c0077;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size:23px;
  position: absolute;
  bottom:.2%;
}*/
